$themeColor: #0c3f5f;
$themeColorTwo: #d6d6d6;

@mixin square ($size){
  height: $size;
  width: $size;
}

@mixin themeBorder {
      border: 3px solid white;
}

@mixin themeFont {
  font-family: Helvetica;
  color: white;
}

main {
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10%;
  background-color: #0c3f5f;
}

section {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

header{
height: 4em;
text-align: center;
@include themeFont;
}

article{
  text-align: center;
}

figure {
  @include square(100px);
  @include themeBorder;
  border-radius: 5px;
  box-sizing: border-box;
}

.dice{
  text-align: center;
  font-family: Helvetica;
  font-size: 1.5em;
  color: $themeColor;
  padding-top: 1.2em;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  background-color: $themeColorTwo;
}

button{
  height: 2.5em;
  margin-bottom: 1em;
  padding: 0 2em 0 2em;
  background: none;
  @include themeBorder;
  @include themeFont;
}
#gameStatus {
  font-size: 2em;
}
footer {
  height: 2em;
  text-align: center;
  @include themeFont;
}
